# GITHUB
GITHUB_AUTH_TOKEN=<GITHUB_PAT_TOKEN>

# DISCORD
DISCORD_BASE_URL=https://discord.com/api/v
DISCORD_API_VERSION=10
DISCORD_APP_ID=<DISCORD_APP_ID>
DISCORD_PUBLIC_KEY=<DISCORD_PUBLIC_KEY>
DISCORD_BOT_TOKEN=<DISCORD_BOT_TOKEN>
DISCORD_TEXT_CHANNEL=<TEXT_CHANNEL>
DISCORD_FORUM_CHANNEL=<FORUM_CHANNEL>
DISCORD_SEND_NORMAL_TEXT_MSG=false
# Internal
CHECK_FREQUENCY_IN_MINUTES=1
DB_TABLE_NAME=<YOUR_TABLE_NAME>

# GitHub User and Repo Config
GITHUB_USER=<YOUR_GITHUB_USER>
GITHUB_REPO=<YOUR_GITHUB_REPO>